@import "./Variables/var.css";

.div-father-features {
  background-image: white;
  /* width: 100vw;  */
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 0rem;
  padding-top: 80px;
}

.h1-features {
  padding-top: 20px;
  font-weight: bold;
  text-align: left;
  font-size: 2.1rem;
  margin-top: 4rem;
  margin-left: 5.1rem;
  color: rgb(177, 177, 177);
}

.Wraper {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-top: 80px;
  align-content: center;
  gap: 20px;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div-features-1 {
  background-color: var(--colorGrey);
  border-radius: 10px;
  width: 20rem;
  text-align: center;
  padding: 15px;
  box-shadow: 7px 5px 7px hsla(0, 0%, 51%, 0.438);
  transition: all 0.25s;
}
.div-features-1:hover{
  transform: translateY(-15px);
  box-shadow: 13px 5px 10px hsla(0, 0%, 51%, 0.438);
}


.div-features-2 {
  background-color: var(--colorGrey);
  border-radius: 10px;
  border-radius: 10px;
  width: 20rem;
  text-align: center;
  padding: 15px;
  box-shadow: 7px 5px 7px hsla(0, 0%, 51%, 0.438);
  transition: all 0.25s;
}

.div-features-2:hover{
  transform: translateY(-15px);
  box-shadow: 13px 5px 10px hsla(0, 0%, 51%, 0.438);
}

.div-features-3 {
  background-color: var(--colorGrey);
  border-radius: 10px;
  border-radius: 10px;
  width: 20rem;
  text-align: center;
  padding: 15px;
  box-shadow: 7px 5px 7px hsla(0, 0%, 51%, 0.438);
  transition: all 0.25s;
}

.div-features-3:hover{
  transform: translateY(-15px);
  box-shadow: 13px 5px 10px hsla(0, 0%, 51%, 0.438);
}

.div-features-4 {
  background-color: var(--colorGrey);
  border-radius: 10px;
  border-radius: 10px;
  width: 20rem;
  text-align: center;
  padding: 15px;
  box-shadow: 7px 5px 7px hsla(0, 0%, 51%, 0.438);
  transition: all 0.25s;
}

.div-features-4:hover{
  transform: translateY(-15px);
  box-shadow: 13px 5px 10px hsla(0, 0%, 51%, 0.438);
}

.div-features-5 {
  background-color: var(--colorGrey);
  border-radius: 10px;
  border-radius: 10px;
  width: 20rem;
  text-align: center;
  padding: 15px;
  box-shadow: 7px 5px 7px hsla(0, 0%, 51%, 0.438);
  transition: all 0.25s;
}

.div-features-5:hover{
  transform: translateY(-15px);
  box-shadow: 13px 5px 10px hsla(0, 0%, 51%, 0.438);
}

.title-features {
  font-size: 18px;
  color: var(--colorAppleGreen);
}

.tex-freatures {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  color: var(--colorAppleGreen);
}

@media (max-width: 1859px){

  .div-father-features {
    width: 100%;
    height: 37rem;
    margin: 0rem;
    padding-top: 0rem;
  }
  
  .h1-features {
    padding-top: 0rem;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-left: 5.1rem;
  }
}

@media (max-width: 1500px){

  .div-father-features {
    width: 100%;
    height: 37rem;
    margin: 0rem;
    padding-top: 0rem;
  }
  
  .h1-features {
    padding-top: 0rem;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-left: 5.1rem;
  }
  
  .Wraper {
    display: flex;
    flex-direction: row;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-top: 4rem;
    gap: 20px;

  }

}
@media (max-width: 1366px){

  .div-father-features {
    width: 100%;
    height: 37rem;
    margin: 0rem;
    padding-top: 0rem;
  }
  
  .h1-features {
    padding-top: 2rem;
    font-size: 1.9rem;
    margin-top: -2rem;
    margin-left: 5.1rem;
  }
  
  .Wraper {
    display: flex;
    flex-direction: row;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-top: 4rem;
    gap: 20px;

  }

}

@media (max-width: 1200px){

  .div-father-features {
    width: 100%;
    height: 37rem;
    margin: 0rem;
    padding-top: 0rem;
  }
  
  .h1-features {
    padding-top: 2rem;
    font-size: 1.9rem;
    margin-top: -2rem;
    margin-left: 5.1rem;
  }
  
  .Wraper {
    display: flex;
    flex-direction: row;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-top: 4rem;
    gap: 20px;

  }

}

@media (max-width: 830px){
  .div-father-features {
    width: 100%;
    height: 50rem;
    margin: 0rem;
    padding-top: 0rem;
  }
  
  .h1-features {
    padding-top: 1rem;
    font-size: 1.8rem;
    margin-top: -4rem;
    margin-left: 5.1rem;
  }
  
  .Wraper {
    display: flex;
    flex-direction: row;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    margin-top: 2rem;
    gap: 20px;

  }

}