@import "./Variables/var.css";

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.navbar-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Be Vietnam Pro", sans-serif;
  align-items: center;
  height: 80px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 4500;
  text-align: center;
}

/* .navbar-logo{} */

.navbar-supplier {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 20px;
}

.navbar-supplier::hover {
  color: var(--colorAppleGreen);
}

.navbar-home-turn {
  padding-left: 18px;
  color: var(--colorBlack);
}

.navbar-home-turn:hover {
  color: var(--colorAppleGreen);
}

.navbar-home-gest {
  padding-left: 18px;
  color: var(--colorBlack);
}

.navbar-home-gest:hover {
  color: var(--colorAppleGreen);
}

.navbar-home-histo {
  padding-left: 18px;
  color: var(--colorBlack);
}

.navbar-home-histo:hover {
  color: var(--colorAppleGreen);
}

.navbar-home-perfil {
  padding-left: 18px;
  color: var(--colorBlack);
}

.navbar-home-perfil:hover {
  color: var(--colorAppleGreen);
}

.navbar-home {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.navbar-home-inicio {
  padding-left: 10px;
  color: var(--colorBlack);
}

.navbar-home-inicio:hover {
  color: var(--colorAppleGreen);
}

.navbar-home-func {
  padding-left: 10px;
  color: var(--colorBlack);
}

.navbar-home-func:hover {
  color: var(--colorAppleGreen);
}

.navbar-home-caract {
  padding-left: 10px;
  color: var(--colorBlack);
}

.navbar-home-caract:hover {
  color: var(--colorAppleGreen);
}

.navbar-home-cont {
  padding-left: 10px;
  color: var(--colorBlack);
}

.navbar-home-cont:hover {
  color: var(--colorAppleGreen);
}

.navbar-login {
  width: 130px;
  height: 45px;
  background: var(--colorAppleGreen);
  border: 1px solid #fdfcfc;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-login:hover {
  background: var(--colorGrey);
  color: var(--colorAppleGreen);
}

.navbar-register {
  width: 130px;
  height: 45px;
  background: var(--colorAppleGreen);
  border: 1px solid #fdfcfc;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.navbar-register:hover {
  background: var(--colorGrey);
  color: var(--colorAppleGreen);
}

/* .navbar-profile{} */

.button-logout {
  width: 150px;
  height: 45px;
  background: var(--colorAppleGreen);
  border: 1px solid #fdfcfc;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  /* display: flex; */
}

.button-logout:hover {
  background: var(--colorGrey);
  color: var(--colorAppleGreen);
}

@media (max-width: 830px){
  .navbar-contenedor {
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%; 
  }
  .navbar-supplier {
    font-size: 1rem;
    padding-left: 0.6rem;
    align-items: center;
    display: flex;
  }
  .navbar-home {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
  }

  .navbar-login {
    width: 6rem;
    height: 2.6rem;
    border-radius: 30px;
    font-size: 0.9rem;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
  }

  .navbar-register {
    width: 6rem;
    height: 2.6rem;
    font-size: 0.9rem;
    margin-right: 0.6rem;
  }
   
  .button-logout {
    width: 6.4rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

  }

}