.divPrincipalF{
    margin-top: -22px;
    background-color: rgb(255, 255, 255);
    height: 22vw;
    font-family: 'Be Vietnam Pro', sans-serif;
    }
    
.h1como{
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    
    
    }
    
.h2como{
    padding-top: 40px;
    padding-left: 110px;
    width: 50vw;
    font-size: 20px;
    }
    
.imgcomo{
    height: 20vw;
    margin-top: -360px;
    margin-right: -980px;
    }