@import "./Variables/var.css";

.divPrincipalF{
    background-color: var(--colorGrey);
    height: 28vw;
    font-family: 'Be Vietnam Pro', sans-serif;
    position: relative;
    padding-top: 7rem;
    }

/* .div-texto{

    

}

.div-imagen{

} */
    
.h1como{
    padding-top: 1rem;
    font-weight: bold;
    text-align:left;
    font-size: 2.1rem;
    color:var(--colorAppleGreen);
    margin:0px;
    margin-top: 8rem;
    margin-left: 5.1rem;
    display: inline;
    position: relative;
    }
    
.h2como{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3.6rem;
    width: 45vw;
    font-size: 20px;
    text-align:left;
    }
    
.imgcomo{
    height: 30vw;
    float: right;
    margin-right:18rem;
    margin-top: -3rem;
   }