@import "./Variables/var.css";

.divPrincipalF{
    background-color: var(--colorGrey);
    height: 28vw;
    font-family: 'Be Vietnam Pro', sans-serif;
    position: relative;
    padding-top: 7rem;
    }

.h1como{
    padding-top: 1rem;
    font-weight: bold;
    text-align:left;
    font-size: 2.1rem;
    color:var(--colorAppleGreen);
    margin:0px;
    margin-top: 8rem;
    margin-left: 5.1rem;
    display: inline;
    position: relative;
    }
    
.h2como{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3.6rem;
    width: 45vw;
    font-size: 20px;
    text-align:left;
    }
    
.imgcomo{
    height: 30vw;
    float: right;
    margin-right:18rem;
    margin-top: -3rem;
   }

   @media (max-width: 1366px){
    .divPrincipalF{
        height: 30rem;
        padding-top: 2.5rem;
        width: 100%;
        }
    
    .h1como{
        padding-top: 1rem;
        text-align:left;
        font-size: 1.9rem;
        }
        
    .h2como{
        padding-top: 3rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
        margin-left: 4.3rem;
        width: 40rem;
        font-size: 1.3rem;
        text-align:left;
        }
        
    .imgcomo{
        height: 33vw;
        float: right;
        margin-right:4.8rem;
        margin-top: 1rem;
       }
}

@media (max-width: 1200px){
    .divPrincipalF{
        height: 30rem;
        padding-top: 1.8rem;
        width: 100%;
        }
    
    .h1como{
        padding-top: 1rem;
        text-align:left;
        font-size: 1.9rem;
        }
        
    .h2como{
        padding-top: 3rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
        margin-left: 4.3rem;
        width: 40rem;
        font-size: 1.3rem;
        text-align:left;
        }
        
    .imgcomo{
        height: 33vw;
        float: right;
        margin-right:1rem;
        margin-top: 1rem;
       }
}

@media (max-width: 830px){
    .divPrincipalF{
        height: 23rem;
        padding-top: 1.8rem;
        width: 100%;
        }
    
    .h1como{
        padding-top: 1rem;
        text-align:left;
        font-size: 1.8rem;
        }
        
    .h2como{
        padding-top: 3rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
        margin-left: 4.3rem;
        width: 30rem;
        font-size: 1rem;
        text-align:left;
        }
        
    .imgcomo{
        height: 33vw;
        float: right;
        margin-right:1rem;
        margin-top: 1rem;
       }
   }
