.divPrincipalF{
    margin-top: -22px;
    background-color: rgb(255, 255, 255);
    height: 22vw;
    font-family: 'Be Vietnam Pro', sans-serif;
    }
    
.h1como{
    padding-top: 30px;
    font-weight: bold;
    text-align:left;
    font-size: 2.1rem;
    margin-top: 0rem;
    margin-left: 5.1rem;
    color: #6bac48;
    }
    
.h2como{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3.6rem;
    width: 45vw;
    font-size: 20px;
    text-align:left;
    }
    
.imgcomo{
    height: 20vw;
    margin-top: -500px;
    padding-left: 50px;
    padding-left: 50px;
    margin-left: 1100px;
  
    
    }