@import "./Variables/var.css";

.back-ground-register{
    background-image: url('../Assets/Images/cancha-cesped.jpeg');
    position:absolute;
    margin:0;
    left:0;
    right:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    display:inline-block;
    padding-top:130px;
    padding-bottom:130px;
}

.formulario-registro{
    width: 800px;
    height: 700px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 4%;
    border-radius: 30px;
    box-shadow: 10px 10px 15px 1px #1169127c;
    display:flexbox;
    flex-direction: column;
    background-color: rgba(146, 202, 14, 0.335);
    white-space: initial;
    overflow: hidden;
}

.titulo-registro{
    font-family:'Be Vietnam Pro', sans-serif;
    color:#ffffff;
    margin-left: 10%;
    margin-bottom: 10px;
 
}

.parrafo-reg{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 100%;  
    color:#dedede;
    text-align: left;
    margin-left: 10%;
    margin-right: 20px;
    margin-bottom: 20px;
 
}

.labelinputs{
    margin-bottom: 2%;
    margin-left: 10%;
}

.labelemail{
    margin-bottom: 1%;
    margin-left: 10%;
}

.in-register{
    width: 490px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
}

.error-register{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 11%;
    margin-top: -1%; 
}

.error-email{
    margin-top: 1%;
    
}

.error-direccion{
    margin-left: 13%;
    margin-top: 0%;
}

.message-confirm{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 13%;
}


.buttonSubmitReg{
    width: 22%;
    height: 45px;
    margin-left: 400px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #fdfcfc;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    color: var(--colorAppleGreen);

}

.buttonSubmitReg:hover{
    background: #dedede;
    color: #f7faf5;    
}

.estas-registrado{
    margin-top: 10px;
    position: absolute;
    margin-left: 100px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.inciar-sesion{
    margin-top: 10px;
    position: absolute;
    margin-left: 310px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.cont-map-cc{
    margin-top: -15%;
}

.autocomplete-dropdown-container{
    background:rgb(251, 251, 251);
    width: 58%;
    margin-left: 85px;
    margin-top: -0.1%;
}

.location-search-input{
    width: 485px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-top: -20%;
}

.get-suggestion{

}

.get-suggestion-descrip{
    color:rgb(0, 0, 0);
    background:rgb(255, 255, 255);
}

@media (max-width: 1440px){

    .formulario-registro{
        width: 50%;
        height: 700px;
    }
    .parrafo-reg{
        font-size: 95%;  
     
    }
    .in-register{
        width: 75%;
    }
    .buttonSubmitReg{
        margin-left: 55%;
    
    }
    .location-search-input{
        width: 68%;
    }
}

@media (max-width: 1350px){

    .formulario-registro{
        width: 60%;
        height: 730px;
    }
    .parrafo-reg{
        font-size: 95%;  
     
    }
    .in-register{
        width: 75%;
    }
    .buttonSubmitReg{
        margin-left: 55%;
    
    }
    .location-search-input{
        width: 68%;
    }
}


@media (max-width: 1226px){

    .formulario-registro{
        width: 60%;
        height: 730px;
    }
    .parrafo-reg{
        font-size: 95%;  
     
    }
    .in-register{
        width: 75%;
    }
    .buttonSubmitReg{
        margin-left: 55%;
    
    }
    .location-search-input{
        width: 68%;
    }
}

@media (max-width: 950px){

    .formulario-registro{
        width: 90%;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .parrafo-reg{
        font-size: 90%;  
     
    }
    .in-register{
        width: 80%;
    }
    .buttonSubmitReg{
        margin-left: 60%;
    
    }
    .location-search-input{
        width: 73%;
    }
};